.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
safe/
original_files/
.vscode/
.snakemake/
paml.log
scripts/2a_paml_cmD.sh
scripts/2a_paml_bsA.sh
scripts/2a_paml_cmC.sh
scripts/2a_paml_branch.sh
